# Virtual Environment
venv/
.venv/

# Project Data Folders (Add these two new lines)
inputs/
outputs/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Operating System Files
.DS_Store
Thumbs.db

# Editor/IDE specific files
.vscode/
.idea/

# Other common build/temp files
dist/
build/
*.log